$main-color: #2c3e50;
$main-color-hover: #113c64;
$main-background-color: rgb(240, 235, 248);
$error-message-color: rgb(131, 12, 12);
$select-color: #C4433A;

$light-main-color: #F0F0F0;
$light-content-color: #FFFFFF;

$water-color: rgb(19, 24, 114);
$water-color-hover: rgb(38, 43, 150)



