.form {
   text-align: center;
   min-width: 300px;
   padding: 0;
   margin: 10px;

   & .title {
      color: rgb(38, 43, 150);
   }

   & .enter {
      margin-top: 5px;

      & .input_title {
         font-size: 1.3em;
         margin-bottom: 5px;
         color: #475366;
         font-weight: 700;
      }

      & .error_message {
         min-height: 20px;
         display: block;
         color: $error-message-color;
         font-weight: bold;
      }
   }

   & .submit {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .submit_wheel {
         margin-top: 5px;
      }
   }

   & .swap {
      margin-top: 10px;

      &>span {
         color: $main-color;
         cursor: pointer;
         font-weight: 700;
      }

      &>span:hover {
         border-bottom: 1px solid $main-color;
         color: $main-color-hover;
      }
   }
}